@use '/src/styles/variables' as *;

.layout {
  display: flex;
  height: 100vh;
  background-color: #f9fafb;
  overflow: hidden;
}

.sidebar {
  width: 260px;
  min-width: 260px;
  background-color: #fff;
  transition: all 0.3s ease;
  overflow-y: auto;
  height: 100vh;
  position: sticky;
  top: 0;

  &.collapsed {
    width: 72px;
    min-width: 72px;
  }

  @media (max-width: 1024px) {
    position: fixed;
    left: -100%;
    top: 0;
    width: 260px;
    height: 100%;
    z-index: 60;
    transition: left 0.3s ease;

    &.mobileOpen {
      left: 0; // Slide in when open
    }
  }

}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.4);
  z-index: 40;
  display: none;

  @media (max-width: 1024px) {
    display: block;
  }
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;

  .outlet {
    flex: 1;
    padding: 3rem;
    overflow-y: auto;
    background-color: #f9fafb;

     @media (max-width: $bp-lg){
        padding: 1rem 1rem;
    }
    @media(max-width: $bp-sm){
        padding: 1rem 0.7rem;
    }
  }

  .topbar{
    padding: 0 3rem;

    @media (max-width: $bp-lg){
        padding: 0 1rem;
    }
    @media(max-width: $bp-sm){
        padding: 0 0.7rem;
    }
  }
}

// /* ===== Responsive: mobile behaviour ===== */
@media (max-width: 1024px) {
  .sidebar {
    position: fixed;
    height: 100vh;
    z-index: 90;
  }

  .sidebar.open {
    left: 0;
  }

  .content {
    padding: 1rem;
  }
}

