@use "../../../styles/variables" as *;

.card {
  display: flex;
  align-items: center;
  background: $bg-white;
  padding: $space-xl;
  flex-wrap: nowrap;
  gap: $space-lg;
}

.divider{
    width: 1px;
    background-color: $color-border;
    align-self: stretch;
}

.left {
  display: flex;
  align-items: center;
  gap: $space-md;
//   min-width: 260px;

  .avatarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid $color-border;
    background-color: lighten($text-light, 45%);

    .avatar {
      width: 40px;
      height: 40px;
    }
  }

  .userInfo {
    h2 {
      margin: 0;
      font-size: 22px;
      font-weight: $font-weight-normal;
      color: $text-dark;
    }

    p {
      margin: 0.25rem 0 0 0;
      color: $text-light;
      font-size: $font-size-base;
    }
  }
}

.middle {
    // flex: 1 1 auto;
  padding: 0 ;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 

  p {
    margin: 0 0 0.5rem 0;
    color: $text-light;
    font-size: $font-size-sm;
  }

  .stars {
    display: flex;
    gap: 0.5rem;

    .star {
      width: 18px;
      height: 18px;
    }
  }
}

.right {
  flex: 0 0 auto; /* natural width */
  flex-direction: column;
  align-items: flex-start; 

  h3 {
    margin: 0;
    font-size: $font-size-2xl;
    font-weight: $font-weight-normal;
    color: $text-dark;
  }

  p {
    margin: 0.25rem 0 0 0;
    color: $text-light;
    font-size: $font-size-base;
  }

//   h3 {
//     font-size: 1.3rem;
//     color: $text-dark;
//     margin-bottom: 0.25rem;
//   }

//   p {
//     color: $text-light;
//     font-size: 0.95rem;
//   }
}

@media (max-width: $bp-md) {
  .card {
    flex-direction: column;
    gap: $space-md;
    padding: $space-md;
  }

  .left {
    min-width: auto;
    align-items: center;
    text-align: center;

    .userInfo {
      .name { font-size: $font-size-lg; }
    }
  }

  .middle {
    padding: 0;
    border-left: none;
    border-top: 1px solid $color-border;
    padding-top: $space-sm;
    width: 100%;
    align-items: center;
  }

  .right {
    padding-left: 0;
    border-left: none;
    border-top: 1px solid $color-border;
    padding-top: $space-sm;
    width: 100%;
    align-items: center;
    text-align: center;
  }
}
